@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1e6e3;
  border-radius: 10px;
}

blockquote {
  background: #f9f9f9;
  border-left: 0.3em solid #ccc;
  margin: 0.5em;
  padding: 0.5em;
}

pre {
  background-color: #f0f0f0;
  padding: 0.5em;
  margin: 0.5em;
}

section {
  padding: 2vh 2vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

trix-editor {
  min-height: 86vh;
}

trix-toolbar,
.btn-group {
  position: sticky;
  top: 1em;
}

ul {
  margin-top: 1em;
}

.btn-close {
  font-size: 0.5em;
  float: right;
  margin-top: 0.75em;
}

.btn-group {
  width: 15em;
  float: right;
  padding-left: 2em;
}

.navbar > div {
  background-color: #8be0d3;
  font-family: "Roboto Condensed", sans-serif;
}

#title-input {
  margin-bottom: 1em;
}

#review {
  display: none;
  padding-top: 2em;
}

#save-status {
  height: 1em;
  width: 1em;
  display: none;
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
}
